#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@  

override_dh_auto_install:
	dh_auto_install $@
	mkdir -p $(CURDIR)/debian/modep-mod-midi-merger/tmp
	mv $(CURDIR)/debian/modep-mod-midi-merger/usr/lib/jack/* $(CURDIR)/debian/modep-mod-midi-merger/tmp/
	rm -r $(CURDIR)/debian/modep-mod-midi-merger/usr/lib/jack

	mkdir -p $(CURDIR)/debian/modep-mod-midi-merger/$(shell pkg-config --variable=libdir jack)/jack
	mv $(CURDIR)/debian/modep-mod-midi-merger/tmp/* $(CURDIR)/debian/modep-mod-midi-merger/$(shell pkg-config --variable=libdir jack)/jack/
	rm -r $(CURDIR)/debian/modep-mod-midi-merger/tmp

override_dh_installsystemd:
	dh_installsystemd --name=modep-mod-midi-merger
	dh_installsystemd --name=modep-mod-midi-broadcaster

#override_dh_auto_configure:
#	dh_auto_configure -- \
#	      -DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)"
