/* Global */
.calf {
    background: url(/resources/img/background_dark.png{{{ns}}}) repeat;
    position: relative;
    color: #FFF;
}

/* bar top */

.calf .bar-top {
    background: url(/resources/img/background_black.png{{{ns}}}) repeat;
    height: 46px;
    left: 0;
    position: relative;
    top: 0;
    width: auto;
}

.calf .bar-top .title-calf {
    color: #FFF;
    display: block;
    left: 35px;
    position: absolute;
    top: 13px;
}
.calf .bar-top .off-or-on-calf {
    background-image: url(/resources/img/toggle2_silver.png{{{ns}}});
    background-size: 46px 62px;
    cursor: pointer;
    height: 31px;
    z-index: 100;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 46px;
}
.calf .bar-top .on {
    background-position: top center;
}
.calf .bar-top .off {
    background-position: bottom center;
}
.calf .bar-top .off-or-on-calf span {
    color: #FFF;
    left: -50px;
    position: absolute;
    top: 9px;
}

/* Global calf div */

.calf .global-calf {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 46px;
}

/*bars left*/
.calf .groups-bar-left {
    background: url(/resources/img/side_w.png{{{ns}}}) repeat-y;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-left .top {
    background: url(/resources/img/side_nw.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}
.calf .groups-bar-left .bottom {
    background: url(/resources/img/side_sw.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 56px;
}

/* bars right */
.calf .groups-bar-right {
    background: url(/resources/img/side_e.png{{{ns}}}) repeat-y;
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-right .top {
    background: url(/resources/img/side_ne.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 56px;
}

.calf .groups-bar-right .bottom {
    background: url(/resources/img/side_se.png{{{ns}}});
    height: 36px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 56px;
}
.calf .groups-bar-right .logo {
    background: url(/resources/img/side_e_logo.png{{{ns}}});
    height: 90px;
    left: 0;
    position: absolute;
    bottom: 36px;
    width: 56px;
}

/* cols */

.calf .border-solid-and-radius {
    border: solid 1px #FFF;
    border-radius: 7px;
}
.calf .title-of-cols {
    background: #384454;
    color: #FFF;
    font-size: 13px;
    left: 6px;
    padding: 0 5px;
    position: absolute;
    top: -11px;
}

/* knob */

.calf .knob {
    position: absolute;
    cursor: pointer;
}
.calf .knob1 {
    height: 20px;
    width: 20px;
}
.calf .knob1-1 {
    background: url(/resources/img/knob1-1.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-2 {
    background: url(/resources/img/knob1-2.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-3 {
    background: url(/resources/img/knob1-3.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob1-4 {
    background: url(/resources/img/knob1-4.png{{{ns}}});
    height: 20px;
    width: 20px;
}
.calf .knob2 {
    height: 40px;
    width: 40px;
}
.calf .knob2-1 {
    background: url(/resources/img/knob2-1.png{{{ns}}});
}
.calf .knob2-2 {
    background: url(/resources/img/knob2-2.png{{{ns}}});
}
.calf .knob2-3 {
    background: url(/resources/img/knob2-3.png{{{ns}}});
}
.calf .knob2-4 {
    background: url(/resources/img/knob2-4.png{{{ns}}});
}
.calf .knob3 {
    background: url(/resources/img/knob3.png{{{ns}}});
}
.calf .knob4 {
    height: 80px;
    width: 80px;
}
.calf .knob4-1 {
    background: url(/resources/img/knob4-1.png{{{ns}}});
}
.calf .knob4-2 {
    background: url(/resources/img/knob4-2.png{{{ns}}});
}
.calf .knob4-3 {
    background: url(/resources/img/knob4-3.png{{{ns}}});
}
.calf .knob4-4 {
    background: url(/resources/img/knob4-4.png{{{ns}}});
}
.calf .knob5 {
    height: 100px;
    width: 100px;
}
.calf .knob5-1 {
    background: url(/resources/img/knob5-1.png{{{ns}}});
}
.calf .knob5-2 {
    background: url(/resources/img/knob5-2.png{{{ns}}});
}
.calf .knob5-3 {
    background: url(/resources/img/knob5-3.png{{{ns}}});
}
.calf .knob5-4 {
    background: url(/resources/img/knob5-4.png{{{ns}}});
}

/* titles of things */

.calf .title-fild{
    color: #FFF;
    font-size: 10px;
    position: absolute;
}
.toggle1-silver {
    background: url(/resources/img/toggle1_silver.png{{{ns}}});
    height: 20px;
    position: absolute;
    width: 30px;
}

.toggle2_silver-silver {
    background: url(/resources/img/toggle2_silver.png{{{ns}}});
    height: 40px;
    position: absolute;
    width: 60px;
}

.calf .knob1 .title-knob1-top, .calf .knob2 .title-knob2-top, .calf .knob3 .title-knob3-top, .calf .knob4 .title-knob4-top,
.calf .knob5 .title-knob5-top, .calf .knob1 .title-knob1-bottom, .calf .knob2 .title-knob2-bottom, .calf .knob3 .title-knob3-bottom, .calf .knob4 .title-knob4-bottom,
.calf .knob5 .title-knob5-bottom {
    color: #FFFFFF;
    font-size: 11px;
    position: absolute;
    text-align: center;
}

/* Lines */
.calf .line-cols-all {
    position: absolute;
}
.calf span.value-lines{
    font-size: 11px;
    left: 0;
    position: absolute;
    right: 0;
    top: -15px;
    text-align: center;
}
/* Slider */
/* Screw */

.calf .screw_min {
    background: url(/resources/img/screw1.png{{{ns}}});
    background-size: 15px;
    height: 15px;
    position: absolute;
    width: 15px;
    top: -7px;

}
/* titles of things */
.calf .title-fild-bottom {
    font-size: 12px;
}

/* button of bypass */

.calf .button-bypass {
    background: url(/resources/img/toggle2_silver.png{{{ns}}});
    height: 40px;
    position: absolute;
    width: 60px;
}


.calf-saturator {
	height: 391px;
	width: 761px;
}

/* Cols top*/
.calf-saturator .master {
    right: 100px;
    top: 26px;
}
.calf-saturator .mix {
    right: 203px;
    top: 26px;
}

/* frq - disable */

.calf-saturator .freq {
    background: url(/resources/img/input-disable-two.png{{{ns}}});
    height: 18px;
    left: 80px;
    position: absolute;
    width: 153px;
}
.calf-saturator .input-freq {
    top: 22px;
}
.calf-saturator .output-freq {
    top: 45px;
}
.calf-saturator .title-freq-top{
    left: 0;
    right: 0;
    text-align: center;
    top: -18px;
}
.calf-saturator .title-freq-top-two {
    left: 0;
    text-align: center;
    right: 0;
    top: -45px;
}
.calf-saturator .title-freq-bottom{
    left: 0;
    right: 0;
    text-align: center;
    bottom: -18px;
}
.calf-saturator .db {
    text-align: right;
    right: 0
}
.calf-saturator .display {
    background: url(/resources/img/combo-sm.png{{{ns}}});
    top: 181px;
    background-size: 50px auto;
    height: 28px;
    left: -10px;
    position: absolute;
    width: 50px;
    color: black;
    font-size: 11px;
    line-height: 28px;
    text-align: center;
}
.calf-saturator .tape-tube {
    left: 290px;
    top: 20px;
    width: 176px;
    text-align: left;
    position: absolute;
}
.calf-saturator .slider-horiz {
    background: url(/resources/img/sliders-vert-disable2.png{{{ns}}});
    background-size: auto 152px;
    height: 152px;
    position: absolute;
    width: 32px;
    cursor: pointer;
    
}
.calf-saturator .left {
    left: -15px;
}
.calf-saturator .right {
    right: -15px;
}
/* Cols center */
.calf-saturator .activation {
    left: 100px;
    bottom: 125px;
}
.calf-saturator .saturation {
    right: 100px;
    bottom: 125px;
}

/* Cols bottom*/
.calf-saturator .pre {
    bottom: 10px;
    height: 80px;
    left: 75px;
    position: absolute;
    width: 153px;
}
.calf-saturator .pre .highpass {
    left: 18px;
    top: 23px;
}
.calf-saturator .pre .lowpass {
    right: 18px;
    top: 23px;
}
.calf-saturator .tone {
    bottom: 10px;
    height: 80px;
    left: 247px;
    position: absolute;
    width: 266px;
}
.calf-saturator .tone .tone-knob {
    left: 26px;
    top: 23px;
}
.calf-saturator .tone .amount {
    left: 112px;
    top: 23px;
}
.calf-saturator .tone .gradient {
    left: 198px;
    top: 23px;
}
.calf-saturator .post {
    bottom: 10px;
    height: 80px;
    right: 75px;
    position: absolute;
    width: 153px;
}
.calf-saturator .post .highpass {
    left: 18px;
    top: 23px;
}
.calf-saturator .post .lowpass {
    right: 18px;
    top: 23px;
}

/* Titles knobs */

.calf-saturator .knob2 .title-knob2-top {
    left: -10px;
    position: absolute;
    text-align: center;
    top: -18px;
    width: 63px;
}
.calf-saturator .knob2 .title-knob2-bottom {
    left: -11px;
    position: absolute;
    text-align: center;
    bottom: -20px;
    width: 64px;
}
.calf-saturator .knob5 .title-knob5-top {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -22px;
}
.calf-saturator .knob5 .title-knob5-bottom {
    bottom: -22px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.calf-saturator .tubeh2-off {
    background: url(/resources/img/tubeV2.png{{{ns}}});
    border: solid 3px #333;
    height: 200px;
    left: 365px;
    position: absolute;
    top: 25px;
    width: 120px;
}

.knob, .slider-horiz, .tubeh2-off, .freq {
    z-index: 99999;
}

/* Input/Output */
 .calf-pedal-input {
    left:-46px !important;
 }
.calf-pedal-output {
    right:-44px !important;
}