[submodule "caps-lv2"]
	path = modep-caps-lv2/src
	url = https://github.com/BlokasLabs/caps-lv2.git
[submodule "modep-mod-host/src"]
	path = modep-mod-host/src
	url = https://github.com/BlokasLabs/mod-host
[submodule "modep-mod-ui/src"]
	path = modep-mod-ui/src
	url = https://github.com/BlokasLabs/mod-ui
[submodule "modep-mda-lv2/src"]
	path = modep-mda-lv2/src
	url = https://github.com/BlokasLabs/mda-lv2.git
