[submodule "modep-mod-host/src"]
	path = modep-mod-host/src
	url = https://github.com/BlokasLabs/mod-host.git
[submodule "modep-mod-ui/src"]
	path = modep-mod-ui/src
	url = https://github.com/BlokasLabs/mod-ui.git
[submodule "modep-mod-midi-merger/src"]
	path = modep-mod-midi-merger/src
	url = https://github.com/BlokasLabs/mod-midi-merger
[submodule "modep-btn-scripts/src"]
	path = modep-btn-scripts/src
	url = https://github.com/BlokasLabs/modep-btn-scripts
[submodule "modep-touchosc2midi/src"]
	path = modep-touchosc2midi/src
	url = https://github.com/BlokasLabs/modep-touchosc2midi
[submodule "modep-ctl-scripts/src"]
	path = modep-ctl-scripts/src
	url = https://github.com/BlokasLabs/modep-ctl-scripts/
[submodule "libhylia/src"]
	path = libhylia/src
	url = https://github.com/BlokasLabs/Hylia
[submodule "modep-browsepy/src"]
	path = modep-browsepy/src
	url = https://github.com/blokaslabs/browsepy
