#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@	

override_dh_auto_build:
	dh_auto_build -- HAVE_DGL=false BASE_FLAGS+=-DDISTRHO_PLUGIN_USES_MODGUI=1

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr LIBDIR=modep
	# Remove broken plugins or ones without modgui
	bash -c "rm -r $(CURDIR)/debian/modep-lv2-zam-plugins/usr/modep/lv2/{ZamDynamicEQ,ZamGrains,ZamHeadX2,ZamPhono,ZamVerb}.lv2"
	rm -r $(CURDIR)/debian/modep-lv2-zam-plugins/usr/bin
	rm -r $(CURDIR)/debian/modep-lv2-zam-plugins/usr/modep/ladspa
	rm -r $(CURDIR)/debian/modep-lv2-zam-plugins/usr/modep/vst

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo
