Source: modep-fluidsynth
Section: audio
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: cmake, debhelper (>=11~), libglib2.0-dev
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-fluidsynth
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Fluid synth package for modep
Conflicts: libfluidsynth2, libfluidsynth-dev
