Source: modep-lv2-dpf-plugins
Section: sound
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-dpf-plugins
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Collection of DPF-based plugins
