#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@  

#clean:
	

override_dh_auto_build:
	dh_auto_build -- HAVE_CAIRO_OR_OPENGL=false BASE_FLAGS+=-DDISTRHO_PLUGIN_USES_MODGUI=1

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/modep-lv2-dpf-plugins/usr/modep/lv2
	bash -c "cp -r bin/{Kars.lv2,MVerb.lv2,Nekobi.lv2,PingPongPan.lv2} $(CURDIR)/debian/modep-lv2-dpf-plugins/usr/modep/lv2/"

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo
