[Unit]
Description=MOD-host
After=jack.service
BindsTo=jack.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
User=modep
Group=modep
Type=forking
Environment=JACK_PROMISCUOUS_SERVER=jack
Environment=LV2_PATH=/var/modep/lv2:/var/modep/lv2-presets
Environment=MOD_USER_FILES_DIR=/var/modep/user-files
Environment=MOD_PRESETS_DIR=/var/modep/lv2-presets
Environment=MOD_DATA_DIR=/var/modep
ExecStart=/usr/bin/mod-host -p 5555 -f 5556
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
