#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@  

override_dh_auto_configure:
	dh_auto_configure -- -Denable-jack=1 -Denable-aufile=0 -Denable-ladspa=0 -Denable-alsa=0 \
		-Denable-portaudio=0 -Denable-lash=0 -Denable-pulseaudio=0 \
		-Denable-dbus=0 -Denable-oss=0 -Denable-sdl2=0 -Denable-network=0 -Denable-readline=0
