Source: modep-lv2-calf
Section: sound
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: debhelper (>=11~), dh-autoreconf
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-calf
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Calf Studio gear plugins deb
