#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_DH_AUTORECONF_ARGS := NOCONFIGURE=1 ./autogen.sh

%:
	dh $@ --with autoreconf 

override_dh_auto_configure:
	dh_auto_configure -- --disable-static --enable-shared --with-lv2 --without-lash --with-lv2-dir=/usr/modep/lv2/ --prefix=/usr --without-gui

override_dh_auto_install:
	dh_auto_install -- lv2dir=/usr/modep/lv2/calf.lv2	

override_dh_install:
	dh_install
	cp debian/manifest.ttl $(CURDIR)/debian/modep-lv2-calf/usr/modep/lv2/calf.lv2
	cp debian/modguis.ttl $(CURDIR)/debian/modep-lv2-calf/usr/modep/lv2/calf.lv2
	cp -r debian/modgui $(CURDIR)/debian/modep-lv2-calf/usr/modep/lv2/calf.lv2/
