[Unit]
Description=MOD-UI
After=modep-mod-host.service
Requires=modep-mod-host.service modep-browsepy.service
Wants=modep-mod-midi-merger.service modep-mod-midi-broadcaster.service pisound-btn.service

[Service]
UMask=0002
LimitRTPRIO=95
LimitMEMLOCK=infinity
Environment=LV2_PATH=/var/modep/lv2
Environment=LV2_PLUGIN_DIR=/var/modep/lv2
Environment=LV2_PEDALBOARDS_DIR=/var/modep/pedalboards
Environment=MOD_DEV_ENVIRONMENT=0
Environment=MOD_DEVICE_WEBSERVER_PORT=80
Environment=MOD_LOG=1
Environment=MOD_APP=0
Environment=MOD_LIVE_ISO=0
Environment=MOD_SYSTEM_OUTPUT=1
Environment=MOD_DATA_DIR=/var/modep
Environment=JACK_PROMISCUOUS_SERVER=jack
#Environment=MOD_KEY_PATH=/var/modep/keys
#Environment=MOD_API_KEY=/var/modep/mod_api_key.pub
Environment=MOD_HTML_DIR=/usr/share/mod/html
Environment=MOD_DEFAULT_PEDALBOARD=/usr/share/mod/default.pedalboard

WorkingDirectory=/var/modep
ExecStart=/usr/bin/authbind /usr/bin/mod-ui
User=modep
Group=modep
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
