Source: modep-lv2-artyfx
Section: audio
Priority: optional
Maintainer: <>
Build-Depends: cmake, debhelper (>=11~), libsndfile1-dev
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-artyfx
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: LV2 plugin suite called Arty FX.
