Source: modep-mod-host
Section: audio
Priority: optional
Maintainer: Giedrius Trainavičius <hello@blokas.io>
Build-Depends: debhelper (>=11~), libreadline-dev
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-mod-host
Architecture: any
Multi-Arch: foreign
Depends: modep-common (>= 1.0.0), blokas-jack (>= 1.0), ${misc:Depends}, ${shlibs:Depends}
Description: MOD-Host package.
