Source: modep-lv2-fat1
Section: sound
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-fat1
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: fat1.lv2 is an auto-tuner based on Fons Adriaensen's zita-at1.


