Source: modep-lv2-stepseq
Section: sound
Priority: optional
Maintainer: <>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-stepseq
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: stepseq.lv2 is simple step sequencer for moddevices.com


