#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export MOD=1
export OPTIMIZATIONS="-fno-finite-math-only"
export LV2DIR=/usr/modep/lv2
export PREFIX=/usr
export DESTDIR=$(CURDIR)/debian/modep-lv2-stepseq

%:
	dh $@  

stepseq8n4:
	$(MAKE) N_STEPS=8 N_NOTES=4 install
	$(MAKE) clean

stepseq8n8:
	$(MAKE) N_STEPS=8 N_NOTES=8 install
	$(MAKE) clean

stepseq8n16:
	$(MAKE) N_STEPS=8 N_NOTES=16 install
	$(MAKE) clean

build: stepseq8n4 stepseq8n8 stepseq8n16

install:
	

dh_auto_build:
	

dh_auto_install:
	

.PHONY: stepseq8n4 stepseq8n8 stepseq8n16
