Source: modep-lv2-amsynth
Section: audio
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: debhelper (>=11~), dh-autoreconf, intltool
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-amsynth
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: amsynth is an analog modelling (a.k.a virtual analog) software synthesizer.
