Source: modep-lv2-sooperlooper
Section: sound
Priority: optional
Maintainer: Blokas <hello@blokas.io>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://blokas.io/modep

Package: modep-lv2-sooperlooper
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A Lv2 version of the old LADSPA SooperLooper plugin by Jesse Chappell [http://essej.net/sooperlooper/oldplugin.html]
